<!-- 
<!DOCTYPE html>
<html>
  <head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <title>MMDx: Rapid Diagnostics</title>

  </head>
  <body>
   <style>
      .country {
        fill: #ccc;
        stroke: #fff;
        stroke-width: .5px;
        stroke-linejoin: round;
      }

      .graticule {
        fill: none;
        stroke: #000;
        stroke-opacity: .3;
        stroke-width: .5px;
      }

      .graticule.outline {
        stroke: #333;
        stroke-opacity: 1;
        stroke-width: 1.5px;
      }

      </style>


    <div style= "display: inline-block">
      <div id='queryBar' style="float:left">


      </div>

      <div id='mapDiv' style="float:right">

      </div>

      <script>
        var runMyScript = function(){
            var width = 960,
            var height = 500;

            var projection = d3.geo.kavrayskiy7(),
                color = d3.scale.category20(),
                graticule = d3.geo.graticule();

            var path = d3.geo.path()
                .projection(projection);

            var svg = d3.select("mapDiv").append("svg")
                .attr("width", width)
                .attr("height", height);

            svg.append("path")
                .datum(graticule)
                .attr("class", "graticule")
                .attr("d", path);

            svg.append("path")
                .datum(graticule.outline)
                .attr("class", "graticule outline")
                .attr("d", path);

            d3.json("readme-world.json", function(error, world) {
              var countries = topojson.feature(world, world.objects.countries).features,
                  neighbors = topojson.neighbors(world.objects.countries.geometries);

              svg.selectAll(".country")
                  .data(countries)
                .enter().insert("path", ".graticule")
                  .attr("class", "country")
                  .attr("d", path)
                  .style("fill", function(d, i) { return color(d.color = d3.max(neighbors[i], function(n) { return countries[n].color; }) + 1 | 0); });
            });
        }

      </script>

    </div>

    <h1>Hello, here are the results from the database</h1>
    
    <ul>
		<% for(var i=0; i<results.length; i++) {%>
   		<li>
   			<p><%= results[i].get('lat') %></p>
   			<p><%= results[i].get('lng') %></p>
   			<p><%= results[i].get('diagnosis') %></p>
   		</li>
		<% } %>
		</ul>
  </body>
</html> -->



<!DOCTYPE html>
<html>
  <head>
    <title>MMDx: Rapid Diagnostics</title>

    <style>
      #map-canvas {
        width: 500px;
        height: 400px;
      }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
      }
    </script>

  </head>
  
  <body>
    <div id="map-canvas"></div>

    <h1>Hello, here are the results from the database</h1>
    
    <ul>
    <% for(var i=0; i<results.length; i++) {%>
      <li>
        <p><%= results[i].get('lat') %></p>
        <p><%= results[i].get('lng') %></p>
        <p><%= results[i].get('diagnosis') %></p>
      </li>
    <% } %>
    </ul>


  </body>
</html>